<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Istoric Rezervări</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Istoricul Rezervărilor</h1>

        <ul class="list-group mt-4">
            {% for reservation in reservations %}
                <li class="list-group-item">
                    <strong>{{ reservation.name }}</strong><br>
                    Număr de persoane: {{ reservation.num_people }}<br>
                    Data rezervării: {{ reservation.date }}<br>
                    Eveniment special: {{ reservation.event_special }}<br>
                    <a href="{% url 'reservations:reservation_detail' reservation.id %}">Vezi detalii</a>
                </li>
            {% empty %}
                <p>Nu ai făcut încă nici o rezervare.</p>
            {% endfor %}
        </ul>

        <a href="{% url 'home' %}" class="btn btn-primary mt-4">Întoarce-te pe pagina principală</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
